%main#main-content
  %h1.heading-large
    Datganiad hygyrchedd ar gyfer cymwysiadau data agored: archwiliwr Data Pris a
    Dalwyd, adeiladwr adroddiadau safonol a Mynegai Prisiau Tai y DU

  %p
    Cofrestrfa Tir EM sy&#8217;n rhedeg y wefan hon. Rydym am i gynifer o bobl â
    phosibl allu defnyddio&#8217;r wefan hon. Er enghraifft, mae hynny&#8217;n golygu y
    dylech chi allu:

  %ul.list.list-bullet
    %li
      newid lliwiau, lefelau cyferbyniad a ffontiau
    %li
      chwyddo mewn hyd at 200% heb i&#8217;r testun lithro oddi ar y sgrin
    %li
      llywio&#8217;r rhan fwyaf o&#8217;r wefan gan ddefnyddio bysellfwrdd yn unig
    %li
      llywio&#8217;r rhan fwyaf o&#8217;r wefan gan ddefnyddio meddalwedd adnabod llais
    %li
      gwrando ar y rhan fwyaf o&#8217;r wefan gan ddefnyddio darllenydd sgrin (gan
      gynnwys y fersiynau diweddaraf o JAWS, NVDA a VoiceOver)

  %p
    Rydym hefyd wedi gwneud testun y wefan mor syml â phosibl i&#8217;w ddeall.

  %p
    Mae gan
    = link_to('AbilityNet', 'https://mcmw.abilitynet.org.uk/')
    gyngor ar wneud eich dyfais yn haws i&#8217;w defnyddio os oes gennych anabledd.

  %h2
    Pa mor hygyrch yw&#8217;r wefan hon

  %p
    Rydym yn credu bod y rhan fwyaf o&#8217;r wefan hon yn cydymffurfio â gofynion
    safon AA Canllawiau Hygyrchedd Cynnwys Gwe fersiwn 2.1. Ni ddylai&#8217;r
    archwiliwr Data Pris a Dalwyd, yr adeiladwr adroddiadau safonol, a Mynegai
    Prisiau Tai y DU achosi unrhyw rwystrau i ddefnyddwyr sydd ag anableddau.
    Os ydych yn cael problemau yn cyrchu&#8217;r adrannau hyn, rhowch wybod inni.
  %p
    Rydym yn gwybod nad yw&#8217;r SPARQL Qonsole ar y wefan hon yn hollol hygyrch.
    Yn arbennig, nodwn y problemau canlynol:
  %ul.list.list-bullet
    %li
      Nid oes cymhareb cyferbyniad ddigonol gan liwiau cefndir a blaendir
      %br
      Mae hyn yn methu WCAG 1.4.3 Cyferbyniad (Lefel AA)
    %li
      Nid oes gan rai meysydd mewnbwn labeli cysylltiedig mewn HTML
      %br
      Mae hyn yn methu WCAG 3.3.2 Labeli neu Gyfarwyddiadau (Lefel A)
    %li
      Nid yw rhestrau yn cynnwys elfennau <code>&#060;li&#062;</code> yn unig ac elfennau
      cynnal sgript (<code>&#060;sgript&#062;</code> a <code>&#060;thempled&#062;</code>)
      %br
      Mae hyn yn methu WCAG 4.1.2 Enw, Rôl, Gwerth (Lefel A)
    %li
      Ni all defnyddwyr fynd ymhellach na&#8217;r ardal prif destun trwy ddefnyddio&#8217;r allwedd tab yn unig
      %br
      Mae hyn yn methu WCAG 2.1.2 Dim Trap Bysellfwrdd

  %p
    Rhyngwyneb technegol sy&#8217;n cefnogi datblygiad ymholiad gweledol yw&#8217;r SPARQL
    Qonsole. Rydym yn gweithio ar ddiweddariad i Qonsole SPARQL i wella hygyrchedd
    yn gyffredinol. Disgwyliwn i&#8217;r diweddariad hwn gael ei gwblhau erbyn diwedd
    Mawrth 2023.

  %h2
    Yr hyn i&#8217;w wneud os na allwch gyrchu rhannau o&#8217;r wefan hon

  %p
    Os oes angen gwybodaeth sydd ar y wefan hon arnoch ar ffurf wahanol fel PDF
    hygyrch, print bras, hawdd ei ddeall, recordiad sain neu Braille, anfonwch
    ebost at
    = mail_to(Rails.application.config.contact_email_address)

  %p
    Byddwn yn ystyried eich cais ac yn dod yn ôl atoch o fewn 5 diwrnod.

  %h2
    Rhoi gwybod am broblemau hygyrchedd gyda&#8217;r wefan hon

  %p
    Rydym bob amser yn ceisio gwella hygyrchedd y wefan hon. Os ydych yn dod o
    hyd i unrhyw broblemau nad ydynt wedi eu rhestru ar y dudalen hon neu&#8217;n
    credu nad ydym yn bodloni&#8217;r gofynion hygyrchedd, cysylltwch â&#8217;r Ganolfan
    Gwasanaethau Cwsmeriaid:

  %ul.list.list-bullet
    %li
      trwy&#8217;r ffôn &#8211;
      = link_to('0300 006 0422', 'tel:+443000060422')
    %li
      trwy&#8217;r post &#8211; HM Land Registry Citizen Centre, PO Box 74, Gloucester, GL14 9BB
    %li
      = link_to('ar-lein', 'https://www.gov.uk/guidance/contact-hm-land-registry.cy')

  %h2
    Gweithdrefn orfodi

  %p
    Mae&#8217;r Comisiwn Cydraddoldeb a Hawliau Dynol yn gyfrifol am orfodi
    Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau
    Symudol) (Rhif 2) 2018 (y &#8216;rheoliadau hygyrchedd&#8217;). Os nad ydych yn hapus
    â&#8217;r modd yr ydym yn ymateb i&#8217;ch cwyn, cysylltwch â&#8217;r
    = succeed '.' do
      = link_to('Gwasanaeth Cynghori a Chymorth Cydraddoldeb', 'http://eass-ws.custhelp.com/app/home')

  %h2
    Cysylltu â ni dros y ffôn neu ymweld â ni&#8217;n bersonol

  %p
    Rydym yn darparu gwasanaeth cyfnewid testun i bobl fyddar, sydd â nam ar y
    clyw neu sydd â nam ar y lleferydd.
  %p
    Mae dolenni sain gan ein swyddfeydd, neu os ydych yn cysylltu â ni cyn eich
    ymweliad, gallwn drefnu i ddehonglwr Iaith Arwyddion Prydain fod yn
    bresennol.

  %p
    Darllen am sut i
    = succeed('.') do
      = link_to('gysylltu â ni', 'https://www.gov.uk/guidance/contact-hm-land-registry.cy')

  %h2
    Gwybodaeth dechnegol am hygyrchedd y wefan hon

  %p
    Mae Cofrestrfa Tir EM wedi ymrwymo i wneud ei gwefan yn hygyrch, yn unol â
    Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau
    Symudol) (Rhif 2) 2018. Mae&#8217;r wefan hon yn cydymffurfio&#8217;n llwyr â safon AA
    Canllawiau Hygyrchedd Cynnwys Gwe fersiwn 2.1.

  %h3
    Sut y profwyd y wefan hon

  %p
    Profwyd y wefan hon ar 21 Medi 2020. Cynhaliwyd profion gan werthwr
    allanol, gan ddefnyddio cyfuniad o offer profi awtomataidd a sgriptiau
    prawf a weithredwyd â llaw.

  %p
    Profwyd ein prif blatfform gwefan, sydd ar gael ar
    = link_to('landregistry.data.gov.uk', 'https://landregistry.data.gov.uk')

  %p
    Paratowyd y datganiad hwn ar 7 Hydref 2022.
