%article
  %h1.heading-large
    Accessibility statement for open data applications: Price Paid
    Data (PPD) explorer, standard reports builder and UK House
    Price Index (UKHPI)

  %p
    This website is run by HM Land Registry.  We want as many people as
    possible to be able to use this website.  For example, that means
    you should be able to:

  %ul.list.list-bullet
    %li
      change colours, contrast levels and fonts
    %li
      zoom in up to 200% without the text spilling off the screen
    %li
      navigate most of the website using just a keyboard
    %li
      navigate most of the website using speech recognition software
    %li
      listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)

  %p
    We&#8217;ve also made the website text as simple as possible to understand.

  %p
    = link_to('AbilityNet', 'https://mcmw.abilitynet.org.uk/')
    has advice on making your device easier to use if you have a disability.

  %h2
    How accessible this website is

  %p
    We believe that most of this website is compliant with the requirements of
    Web Contents Accessibility Guidelines 2.1 AA standard. The PPD explorer,
    standard reports builder, and UKHPI should not present any obstacles to
    users with disabilities. If you do find problems accessing these sections,
    please let us know.
  %p
    We know that the SPARQL Qonsole on this website is not fully accessible.
    In particular, we note the following issues:
  %ul.list.list-bullet
    %li
      Background and foreground colours do not have sufficient contrast ratio
      %br
      This fails WCAG 1.4.3 Contrast (Level AA)
    %li
      Some input fields do not have associated labels in HTML
      %br
      This fails WCAG 3.3.2 Labels or Instructions (Level A)
    %li
      Lists do not contain only <code>&#060;li&#062;</code> elements and script supporting elements
      (<code>&#060;script&#062;</code> and <code>&#060;template&#062;</code>)
      %br
      This fails WCAG 4.1.2 Name, Role, Value (Level A)
    %li
      User cannot progress past main text area using tab key alone
      %br
      This fails WCAG 2.1.2 No Keyboard Trap

  %p
    The SPARQL Qonsole is a technical interface supporting visual query
    development. We are working on an update to the SPARQL Qonsole to generally
    improve accessibility. We expect this update to be completed by the end of
    March 2023.

  %h2
    What to do if you can&#8217;t access parts of this website

  %p
    If you need information on this website in a different format like accessible PDF,
    large print, easy read, audio recording or braille, please
    email
    = mail_to(Rails.application.config.contact_email_address)

  %p
    We&#8217;ll consider your request and get back to you within five days.

  %h2
    Reporting accessibility problems with this website

  %p
    We&#8217;re always looking to improve the accessibility of this website. If you
    find any problems that aren&#8217;t listed on this page or think we&#8217;re not meeting
    the accessibility requirements, contact the Customer Services Centre by:

  %ul.list.list-bullet
    %li
      telephone &#8211;
      = link_to('0300 006 0411', 'tel:+443000060411')
    %li
      post &#8211; HM Land Registry Citizen Centre, PO Box 74, Gloucester, GL14 9BB
    %li
      = link_to('online', 'https://www.gov.uk/guidance/contact-hm-land-registry')

  %h2
    Enforcement procedure

  %p
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
    Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility
    Regulations 2018 (the &#8216;accessibility regulations&#8217;). If you&#8217;re not happy with how
    we respond to your complaint, contact the
    = succeed '.' do
      = link_to('Equality Advisory and Support Service (EASS)', 'https://www.equalityadvisoryservice.com/')

  %h2
    Contacting us by phone or visiting us in person

  %p
    We provide a text relay service for people who are D/deaf, hearing impaired or
    have a speech impediment.
  %p
    Our offices have audio induction loops, or if you contact us before your visit
    we can arrange a British Sign Language (BSL) interpreter.

  %p
    Find out how to
    = succeed('.') do
      = link_to('contact us', 'https://www.gov.uk/guidance/contact-hm-land-registry')

  %h2
    Technical information about this website&#8217;s accessibility

  %p
    HM Land Registry is committed to making its website accessible, in accordance with
    the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.

    This website is fully compliant with the Web Content Accessibility Guidelines
    version 2.1 AA standard.

  %h3
    How we tested this website

  %p
    This website has been tested on 21 Sept 2020. Tests were carried out by an external vendor,
    using a combination of automated testing tools and manually executed test scripts.

  %p
    We tested our main website platform, available at
    = link_to('landregistry.data.gov.uk', 'https://landregistry.data.gov.uk')

  %p
    This statement was prepared on 7 October 2022.
